:root {
    /* Color */
    --red: #ec0000;
    --black: #000000;
    --navy: #264d73;

    /* Font family */
    --font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    color: var(--black);
}

/* Button */
.btn {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Modal Pop-up menu */
/* Popup container */
/* .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: red;
    height: 100vh;
    width: 100%;
} */


.popup__content {
    max-width: 500px;
    min-width: 300px;
    background-color: red;
    min-height: 350px;
    max-height: 500px;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    padding: 1rem;
}

.popup__form {
    display: flex;
    column-gap: 1rem;
}

.form__input {
    height: 30px;
    border: none;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

.form__input:focus {
    outline: none;
}


/* Navbar */
.nav__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px var(--black) solid;
}

.nav__heading-items {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.nav__navigation {
    border-bottom: 1px solid var(--black);
    padding: 1rem;
}

.nav__navigation-items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/* Showcase  */
.showcase-container {
    background-color: blue;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mobile-item {
    display: none;
}

.carousel {
    position: relative;
    height: 300px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

#carousel__slide1 {
    background-image: url("../images/rally-car-meetup1.jpg");
}

#carousel__slide2 {
    background-image: url("../images/vintageCarRallying.jpeg");
}

#carousel__slide3 {
    background-image: url("../images/ModernRallyingCars/imperaza.jpeg");
}

#carousel__slide4 {
    background-image: url("../images/ModernRallyingCars/MgMetro6r4.jpg");
}

.carousel__slider-btn {
    padding: 0 10px;
    display: flex;
    background: transparent;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 1rem;
}

.container__header {
    font-size: 1.5rem;
}

.container__text {
    min-width: 100px;
    max-width: 50%;
}

.container__content {
    display: flex;
}

.map-iframe {
    width: 50%;
    height: 350px;
    border: 0;
}


/* Footer */
.social-media__links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 20px;
    margin: 10px;
}

.footer-menu {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 300px;
    flex: 100px 100px 50px;
}

.footer-menu div:last-child {
    width: 50%;
}

@media only screen and (max-width:750px) {
    .nav__heading-items {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .nav__navigation {
        position: absolute;
        padding: 2rem;
        height: 100vh;
        top: 0;
        right: -500px;
        width: 50%;
        z-index: 10;
        background-color: red;
    }

    .nav__navigation-items {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav__navigation-items li {
        margin: 5px;
    }

    .icon {
        margin: 0;
    }

    .about-us {
        width: 100%;
        flex-direction: column;
    }

    .container__text {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .map-iframe {
        width: 100%
    }


    .mobile-item {
        display: block;
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-menu div {
        margin: 10px;
    }
}