:root {
    /* Color */
    --red: #ec0000;
    --black: #000000;
    --navy: #264d73;

    /* Font family */
    --font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    color: var(--black);
}

/* Card */
.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-evenly;
}

.card {
    width: 400px;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: none;
    border-radius: 5px;
}

.card__text {}

.card__heading {}

.card__img {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.card__overlay {
    background-color: var(--navy);
    list-style-position: inside;
    color: var(--white);
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    border-radius: 0 0 5px 5px;
    transition: .5s ease;
}

.card:hover .card__overlay {
    display: block;
    opacity: 1;
}

.card--secondary {
    height: 350px;
    width: 300px;
}

.card__img--secondary {
    height: 60%;
}


.card--secondary:hover .card__img--secondary {
    opacity: 70%;
}



/* Button */
.btn {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn--submit {
    padding: 5px 10px;
    margin: 8px 0;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.btn:hover,
.btn--submit:hover {}

.popup__content {
    max-width: 500px;
    min-width: 300px;
    background-color: var(--navy);
    color: white;
    height: 300px;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    padding: 1rem;
}

.popup__form {
    margin: 1rem 0;
    display: flex;
    column-gap: 1rem;
}

.popup__form-input {
    height: 30px;
    border: none;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

.popup__form-input:focus {
    outline: none;
}

/* Navbar */

.nav__logo {
    width: 100px;
    margin: 0;
}

.nav__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px var(--black) solid;
}

.nav__heading-items {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.nav__navigation {
    border-bottom: 1px solid var(--black);
    padding: 1rem;
}

.nav__navigation-items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/* Page banner  */
.banner {
    background-image: url("/assets/images/camping_bg.jpg");
    background-size: cover;
    background-position: bottom;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__header {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.mobile-item {
    display: none;
}

.carousel {
    position: relative;
    height: 300px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

#carousel__slide1 {
    background-image: url("../images/rally-car-meetup1.jpg");
}

#carousel__slide2 {
    background-image: url("../images/vintageCarRallying.jpeg");
}

#carousel__slide3 {
    background-image: url("../images/ModernRallyingCars/imperaza.jpeg");
}

#carousel__slide4 {
    background-image: url("../images/ModernRallyingCars/MgMetro6r4.jpg");
}

.carousel__slider-btn {
    padding: 0 10px;
    display: flex;
    background: transparent;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 1rem;
}

.container__header {
    font-size: 1.5rem;
}

.container__text {
    min-width: 100px;
    max-width: 50%;
}

.container__content {
    display: flex;
}

.map-iframe {
    width: 50%;
    height: 350px;
    border: 0;
}


/* Footer */
.social-media__links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.social-media__icon {
    width: 25px;
    margin: 10px;
}

.icon {
    width: 20px;
    margin: 0 0 -3px 0;
}

.footer-menu {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 300px;
    flex: 100px 100px 50px;
}

.footer-menu div:last-child {
    width: 50%;
}


/* Equipment page */
.catalogue__wrapper {
    display: flex;
    column-gap: .75rem;
}

@media only screen and (max-width:750px) {
    .nav__heading-items {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .nav__navigation {
        position: absolute;
        padding: 2rem;
        height: 100vh;
        top: 0;
        right: -500px;
        width: 50%;
        z-index: 10;
        background-color: red;
    }

    .nav__navigation-items {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav__navigation-items li {
        margin: 5px;
    }

    .icon {
        margin: 0;
    }

    .about-us {
        width: 100%;
        flex-direction: column;
    }

    .container__text {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .map-iframe {
        width: 100%
    }


    .mobile-item {
        display: block;
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-menu div {
        margin: 10px;
    }
}