:root {
    /* Color */
    --red: #ec0000;
    --black: #000000;
    --navy: #264d73;
    --green: rgb(110, 236, 110);

    /* Font family */
    --font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    color: var(--black);
}

/* Topology (font-size) */
.txt--primary {
    min-width: 100px;
    max-width: 50%;
    line-height: 1.5rem;
    margin-right: 1rem;
}

.txt--title {
    color: white;
    font-size: 1.4rem;
    margin: 1rem 0;
    font-weight: bold;
}

.txt--black {
    color: black;
}

.txt--white {
    color: white;
}

.txt--important {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.txt--red {
    color: red;
}

/* Card */
.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-evenly;
}

.card {
    width: 400px;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: none;
    border-radius: 5px;
}

/* .card__text {} */

/* .card__heading {} */

.card__img {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.card__overlay {
    background-color: var(--navy);
    list-style-position: inside;
    color: var(--white);
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    border-radius: 0 0 5px 5px;
    transition: .5s ease;
}

.card:hover .card__overlay {
    display: block;
    opacity: 1;
}

.card--secondary {
    height: 350px;
    width: 300px;
}

.card__img--secondary {
    height: 60%;
}

.card--secondary:hover .card__img--secondary {
    opacity: 30%;
}

.card--secondary:hover .card__text {
    color: blue;
}

.card--secondary:hover .price-tag {
    color: unset;
}

.modal__container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}

.modal--active {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: rgb(92, 95, 246);
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: none;
    border-radius: 5px;
}


/* Button */
.btn {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn--submit {
    padding: 5px 10px;
    margin: 8px 0;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.btn--close {
    background-color: #fa3c3c;
    color: white;
}

.btn--secondary {
    color: white;
    background: var(--navy);
}

.btn--checkout {
    background-color: var(--green);
    font-size: 1rem;
    padding: .5rem;
}

.btn:hover {
    opacity: 70%;
}

.modal__content {
    max-width: 500px;
    min-width: 300px;
    background-color: var(--navy);
    color: white;
    height: 300px;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    padding: 1rem;
}

.modal__form {
    margin: 1rem 0;
    display: flex;
    column-gap: 1rem;
}

.modal__form-input {
    height: 30px;
    border: none;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

.modal__form-input:focus {
    outline: none;
}

/* Navbar */
.nav__logo {
    width: 100px;
    margin: 0;
}

.nav__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px var(--black) solid;
}

.nav__heading-items {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.nav__menu {
    border-bottom: 1px solid var(--black);
    padding: 1rem;
}

.nav__menu-items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav__menu-item:hover>a {
    color: var(--navy);
}

/* Dropdown menu */
.nav__menu-dropdown-item {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 0.5rem;
}

.nav__menu-dropdown {
    display: none;
    background-color: white;
    border-radius: 5px;
    margin: 0px;
}

.nav__menu-item:nth-child(1):hover .nav__menu-dropdown {
    display: block;
    position: absolute;
    z-index: 100;
}

/* Form */
.form__title {
    font-size: 1.5rem;
    color: white;
}

.form {
    height: 500px;
    max-width: 700px;
    min-width: 300px;
    background-color: var(--navy);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
    border-radius: 10px;

    /* Center element at the center of the page */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    /* box shadow */
    box-shadow: 7px 8px 17px -10px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 7px 8px 17px -10px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 7px 8px 17px -10px rgba(0, 0, 0, 0.67);
}

.input__label {
    font-size: 1.1rem;
    color: white;
}

.input__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: space-between;
}

.input__container input[type=text],
.input__container input[type=email] {
    display: block;
}

.input {
    width: 300px;
    height: 30px;
    padding: 0 .5rem;
    border: none;
    border-radius: 5px;
}

.input--secondary {
    border: 1px solid black;
    border-radius: 5px;
}

.input__label--secondary {
    display: block;
    color: white;
}

.input:focus {
    outline: none;
}

/* Page banner  */
.banner {
    background-image: url("/assets/images/camping_bg.jpg");
    background-size: cover;
    background-position: bottom;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__header {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.mobile-view-item {
    display: none;
}

.carousel {
    position: relative;
    height: 300px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

#carousel__slide1 {
    background-image: url("/assets/images/camping_equipment.jpg");
    background-size: cover;
    background-position: bottom;
}

#carousel__slide2 {
    background-image: url("/assets/images/camping_furniture.jpg");
    background-size: cover;
    background-position: bottom;
}

#carousel__slide3 {
    background-image: url("/assets/images/offers.png");
    background-size: cover;
    background-position: bottom;
}

#carousel__slide4 {
    background-image: url("/assets/images/camping_bg.jpg");
    background-size: cover;
    background-position: bottom;
}

.carousel__slider-btn {
    padding: 0 10px;
    display: flex;
    background: transparent;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Container */
.container {
    padding: 1rem;
    position: relative;
}

.container__header {
    font-size: 1.5rem;
}

.container__content {
    display: flex;
}

.container__content--col {
    justify-content: center;
    align-items: center;
}

.container--navy {
    background-color: var(--navy);
}

.container--half {
    height: 50vh;
}

.container--60vh {
    height: 60vh;
}

/* Iframe */

.iframe-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.iframe-video {
    width: 70%;
    height: 500px;
}


.map-iframe {
    width: 50%;
    height: 350px;
    border: 0;
}


/* Footer */
.social-media__links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.social-media__icon {
    width: 25px;
    margin: 10px;
}

.icon {
    width: 20px;
    margin: 0 0 -3px 0;
}

.footer-menu {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 300px;
    flex: 100px 100px 50px;
}

.footer-menu div:last-child {
    width: 50%;
}


/* Equipment page */

.catalogue__filter-fieldset {
    width: 250px;
}

.catalogue__wrapper {
    display: flex;
    column-gap: .75rem;
}

.catalogue__filter {
    width: 20%;
}

.catalogue__items-wrapper {
    width: 80%;
}


/* Basket page */
.cart {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.cart__item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1rem;
}

.cart__item-img {
    width: 200px;
}

.cart__items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart__payment-form {
    background-color: var(--navy);
    padding: 2rem;
    border: none;
    border-radius: 5px;
}

.cart__payment-form * {
    display: block;
    color: white;
}

.cart__payment-form input {
    border: none;
    width: 300px;
    max-width: 400px;
    height: 1.5rem;
    border-bottom: 1px solid white;
    margin-bottom: 3rem;
    background-color: var(--navy);
    font-size: 1rem;
}

.cart__payment-form input:focus {
    outline: none;
}



/* Login page */
/* .banner {
    height: 3vh;
} */

.login-form-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
    min-width: 300px;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.forgot-password {
    color: white;
    text-decoration: underline;
}

.forgot-password:hover {
    color: var(--black);
}


/* Offers and Packages page */
.slider__container {
    width: 600px;
    height: 400px;
    position: relative;
}

.slider__img-container {
    position: absoulte;
    top: 0;
    left: 0;
    transform: translateX(100%);
}

.slider__img-container img {
    width: 100px;
    display: inline-block;
}

.promotion {
    text-align: center;
    margin: 2rem 0;
}


/* Product slider */
.slider {
    width: 100%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.arrow {
    width: 2rem;
    margin: 0 1rem;
}

.slide__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.slide__container::-webkit-scrollbar {
    height: 5px;
    width: 2px;
    border: 1px solid #d5d5d5;
    background: #d5d5d5;
}

.slide__container::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.slide__container::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    outline: 1px solid #eee;
}

.slide {
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
    transform: scale(.95);
    transition: all .3s;
}

.slide:hover {
    transform: scale(1);
}

.slide__details {
    text-align: center;
    padding-bottom: 1rem;
    background-color: #fff;
}

.product__name {
    font-weight: bold;
    margin-bottom: 1rem;
}

.slide__details a {
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--navy);
    color: white;
    padding: .5rem 1rem;
    border-radius: 3px;
}

/* .slide__details a:hover {} */

.slider__img {
    width: 200px;
    height: 200px;
}


/* Reviews page */
.rating-product-img {
    width: 300px;
}

.review__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 300px;
    margin: 2rem 0;
}

.review__comments-container {
    width: 80%;
    position: relative;
    height: 100%;
    overflow: hidden;
    /* This enables the vertical scrolling for the review__comments element */
    overflow-y: scroll;
    background-color: gray;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 5px;
}

.review__comments {
    position: absolute;
}


/* Reply and comments section */
.reply {
    border-left: 3px solid black;
    margin: 1rem 0;
    padding: 0 1rem;
}


@media only screen and (max-width:750px) {

    /* Topology */
    .txt--important {
        font-size: 1.2rem;
    }

    .nav__heading {
        padding: 0 1rem;
    }

    .nav__heading-items {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icon {
        margin-bottom: -5px;
    }

    .nav__menu {
        position: absolute;
        padding: 2rem;
        height: 100vh;
        top: 0;
        right: -500px;
        width: 50%;
        z-index: 10;
        background-color: var(--navy);
    }

    .nav__menu-items {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav__menu-items li {
        margin: 5px;
    }

    /* .nav__menu-items li a {
        color: white;
    } */

    .container__content--col {
        width: 100%;
        flex-direction: column;
    }

    .txt--primary {
        max-width: 100%;
        margin-bottom: 1rem;
        line-height: 1rem;
    }

    .map-iframe {
        width: 100%
    }


    .mobile-view-item {
        display: block;
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-menu div {
        margin: 10px;
    }

    /* Card */

    .card {
        width: 200px;
        height: auto;
    }

    .card__overlay {
        height: 100%;
        border-radius: 5px;
    }

    /* Container */
    .container__header {
        font-size: 1.2rem;
        margin: .5rem;
    }

    /* Equipment page */

    /* .catalogue__wrapper {} */

    .catalogue__filter {
        display: none;
        position: absolute;
        top: 150px;
        z-index: 100;
    }

    .catalogue__filter-fieldset {
        background-color: var(--navy);
        border: none;
        border-radius: 5px;
        padding: 1rem;
    }

    /* Basket page */
    .cart {
        flex-direction: column;
    }

    .cart__items-container {
        width: 100%;
        flex-direction: column;
    }

    .cart__item {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .cart__item-img {
        width: 120px;
    }

}